    body {
        background-image: url(nasa-1lfI7wkGWZ4-unsplash.jpg);
        background-color: rgb(105, 222, 226);
        background-size: cover;
        background-attachment: fixed;
        font-size: 2em;
        font-family: 'Frehdoka One', cursive;
        text-shadow: 3px 3px black;
    }
    
    .container {
        color: white;
    }
    
    h1 {
        color: greenyellow;
        text-align: center;
        width: 100%;
    }
    
    .h2 {
        color: gold;
        text-align: center;
    }
    
    .h3 {
        text-shadow: 3px 3px black;
    }
    
    .record {
        text-shadow: 3px 3px black;
        color: greenyellow;
    }
    
    .cases {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.5);
        margin: 0 3%;
        padding: 0 3%;
    }
    
    .cases-item {
        padding: 1% 3%;
        width: 33.33%;
        margin: 2% 3%;
        text-align: center;
    }
    
    .recovered {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.5);
        margin: 0 3%;
        padding: 0 3%;
    }
    
    .recovered-item {
        padding: 1% 3%;
        width: 33.33%;
        margin: 2% 3%;
        text-align: center;
    }
    
    .active {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.5);
        margin: 0 3%;
        padding: 0 3%;
    }
    
    .active-item {
        padding: 1% 3%;
        width: 50%;
        margin: 2% 3%;
        text-align: center;
    }
    
    .deaths {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.5);
        margin: 0 3%;
        padding: 0 3%;
    }
    
    .deaths-item {
        padding: 1% 3%;
        width: 33.33%;
        margin: 2% 3%;
        text-align: center;
    }
    
    .updated {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.5);
        margin: 0 3%;
        padding: 0 3%;
    }
    
    .updated-item {
        padding: 1% 3%;
        width: 100%;
        margin: 2% 3%;
        text-align: center;
    }
    
    #time {
        text-align: center;
        text-shadow: 2px 2px black;
        color: white;
    }